
table{
	text-align: center;
	width: 35%;
}

p{
	text-align: left;
}

input{
		border: 1px solid black;
		padding: 15px 0;
		width: 90%;
}

button{
	border: none;
	border-radius: 5px;
	width: 100%;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
input[type="checkbox"]{
	width: 30px;
	height: 30px;
}

button a{
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}

h4, p{
	margin: 0;
}

textarea{
	resize: none;
}

