@font-face{
	font-family: ReenieBeanie;
	src: url(../fonts/ReenieBeanie-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

#paper{
	background-image: url(../img/paper.jpg);
	width: 800px;
	height: 740px;
	margin: auto;
}

p{
	font-family: ReenieBeanie;
	font-size: 20pt;
	padding:0 80px;
}

p:first-child{
	padding-top: 160px;
}