#flag{
    display: none;
}
#red_btn{
    background-color: #CC0000;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 60px;
}
#red_btn h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 24pt;
    padding: 15px;
}
#red_btn:hover{
    background: #a10505;
}

#close_btn{
    background-color: #fff;
    border: 1px solid #831313;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 85%;
    left: 77%;
    width: 120px;
    height: 40px;
}
#close_btn h5{
    font-size: 16pt;
    padding: 10px 22px;
}
#close_btn:hover{
    background-color: #ffaa33;
}

#flag:checked ~ div{
    display: block;
}

.modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 600px;
    height: 350px;
    border-style: solid;
    border: 10px solid rgba(74,22,22,1);
    border-image: linear-gradient(90deg, rgba(74,22,22,1) 0%, rgba(213,35,35,1) 46%, rgba(255,170,51,1) 100%);
    border-image-slice: 1;
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
}

.modal hr{
    width: 90%;
}

.modal h2{
    text-align: center;
    padding-top: 50px;
    font-size: 24pt;
}

.modal h3{
    text-align: center;
    padding-top: 25px;
    font-size: 20pt;
}

.modal h4{
    text-align: center;
    padding-top: 30px;
    font-size: 30pt;
}

.modal p{
    display: block;
    position: absolute;
    top: 90%;
    left: 5%;
}



