@keyframes sunset{
	from{
		background: url("../img/sun.png") no-repeat center left,  url("../img/sea.jpg") bottom left repeat-x fixed, linear-gradient(0deg, rgba(131,19,19,0) 0%, rgba(213,35,35,0) 46%, rgba(255,170,51,0) 100%) top center fixed ,url("../img/sky.jpg") top center repeat-x fixed;
		background-size: 20%, 100% 30%, 70% ,cover;
	}

	25%{
		background: url("../img/sun.png") no-repeat 20% 20%,  url("../img/sea.jpg") bottom left repeat-x fixed, linear-gradient(0deg, rgba(131,19,19,0.1) 0%, rgba(213,35,35,0.1) 46%, rgba(255,170,51,0.1) 100%) top center fixed ,url("../img/sky.jpg") top center repeat-x fixed;
		background-size: 20%, 100% 30%, 70% ,cover;
	}


	50%{
		background: url("../img/sun.png") no-repeat center top,  url("../img/sea.jpg") bottom left repeat-x fixed, linear-gradient(0deg, rgba(131,19,19,0.2) 0%, rgba(213,35,35,0.2) 46%, rgba(255,170,51,0.2) 100%) top center fixed ,url("../img/sky.jpg") top center repeat-x fixed;
		background-size: 20%, 100% 30%, 70% ,cover;
	}

	75%{
		background: url("../img/sun.png") no-repeat 80% 20%,  url("../img/sea.jpg") bottom left repeat-x fixed, linear-gradient(0deg, rgba(131,19,19,0.3) 0%, rgba(213,35,35,0.3) 46%, rgba(255,170,51,0.3) 100%) top center fixed ,url("../img/sky.jpg") top center repeat-x fixed;
		background-size: 20%, 100% 30%, 70% ,cover;
	}

	to{
		background: url("../img/sun.png") no-repeat center right,  url("../img/sea.jpg") bottom left repeat-x fixed, linear-gradient(0deg, rgba(131,19,19,0.4) 0%, rgba(213,35,35,0.4) 46%, rgba(255,170,51,0.4) 100%) top center fixed ,url("../img/sky.jpg") top center repeat-x fixed;
		background-size: 20%, 100% 30%, 70% ,cover;
	}

}

#beach{
	width: 100%;
	height: 750px;
	margin: auto;
	background: url("../img/sun.png") no-repeat center left,  url("../img/sea.jpg") bottom left repeat-x fixed, linear-gradient(0deg, rgba(131,19,19,0) 0%, rgba(213,35,35,0) 46%, rgba(255,170,51,0) 100%) top center fixed ,url("../img/sky.jpg") top center repeat-x fixed;
	background-size: 20%, 100% 30%, 70% ,cover;
	animation: sunset 5s linear 2s infinite alternate;
}
