@media (max-width: 1024px) and (min-width: 480px){

	#menu_burger:checked ~ .menu_stripes > span {
  	transform: rotate(45deg);
	}
	#menu_burger:checked ~ .menu_stripes > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu_burger:checked ~ .menu_stripes > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu_burger:checked ~ .menu_pages {
	  visibility: visible;
	  left: 0;
	}

	#menu_burger:checked ~ #dark{
		display: block;
	}

	.menu_stripes {
	  display: flex;
	  align-items: center;
	  position: fixed;
	  top: 15px;
	  left: 15px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 100;
	}

	.menu_stripes > span,
	.menu_stripes > span::before,
	.menu_stripes > span::after {
	  display: block;
	  position: absolute;

	  width: 100%;
	  height: 2px;

	  background-color: #616161;

	  transition-duration: .25s;
	}
	.menu_stripes > span::before {
	  content: '';
	  top: -8px;
	}
	.menu_stripes > span::after {
	  content: '';
	  top: 8px;
	}
/*--------------------------------------------------*/


	.menu_pages{
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0px;
		background-color: #fff;
		height: 100vh;
		width: 280px;
		padding-top: 70px;
		z-index: 10;
	}

	.menu_pages li{
		padding: 16px 0 16px 30px;
	}

	.menu_pages li a{
		font-size: 12pt;
	}

	.menu_logo{
		order: 3;
		flex-basis: 75%;
	}

	.menu_pages{
		order: 2;
		visibility: hidden;
		flex-basis: 2%;
	}

	.menu_icons{
		order: 4;
		flex-basis: 23%;
	}

}