ul{
	border: 0px solid black;
}

#menu_burger{
	opacity: 0;
}

#dark{
	position: fixed;
	width: 100vw;
	height: 200vh;
	background-color:  rgba(0,0,0,0.4);
	display: none;
	z-index: 8;
}

#menu{
	height: 55px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	display: flex;
	align-items: center;
}

.menu_logo img{
	width: 120px;
	height: 16px;
}

#menu ul li{
	display: inline-block;
}

.menu_logo{
	flex-basis: 12%;
	text-align: center;
}

.menu_pages{
	flex-basis: 70%;
}

.menu_icons{
	flex-basis: 18%;
	text-align: center;
}


.menu_pages li a, .menu_icons li a{
	font-family: GT America,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-size: 10pt;
	display: block;
	text-decoration: none;
	color: #343434;
	padding: 0 12px;
	transition: color 0.2s linear;
}

.menu_pages li a:hover{
	color: #c8c8c8;
	transition: 0.2s linear;
}

.menu_icons img{
	width: 20px;
	height: 20px;
}

#banner{
	height: 100vh;
	width: 100vw;
	background-color: #ccc;
}