body{
	font-size: 14pt;
	font-family: Times New Roman;
}

.bsu_head{
	margin-top: 40px;
}
.essay{
	margin-top: 140px;
}
.student_signature{
	margin-top: 80px;
}
.numeration_footer{
	margin-top: 140px;
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	padding: 6px 0;
}

h2{
	text-align: center;
	text-transform: uppercase;
}

h3{
	text-align: center;
	padding: 8px 0;
}

h4{
	text-align: center;
	font-weight: 600;
}

.student_signature p{
	padding-left: 700px;
}

p{
	padding: 4px;
}

.numeration_footer p{
	text-align: center;
}
