#beach{
	width: 100%;
	height: 750px;
	margin: auto;
	background:  url("../img/sun.png") no-repeat top right, url("../img/sea.jpg")bottom left repeat-x, url("../img/sky.jpg")repeat-x;
	background-size: 20%, 100% 30%, cover;

}
