div{
	border: 0px solid black;
}
body{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/stock-photo.jpg");
	background-size: cover;
	font-family: Geneva, Arial, Helvetica;
}

.adukar_header{
	height: 40px;
	padding: 20px 30px 0 30px;
	display: flex;
	justify-content: space-between;
}

.logo, .menu{
	width: 300px;
}

.logo img{
	width: 160px;
}

.menu ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 10px;
}

.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 14pt;
	margin: 0 20px;
}

.menu ul li a:hover{
	color: #df4444;
}

.menu img{
	width: 20px;
	height: 20px;
}

.ct{
	height: 100px;
	margin-top: 80px;
	text-align: center;
}

.ct h1{
	text-transform: uppercase;
	color: #fff;
	font-size: 24pt;
	font-weight: 600;
	line-height: 2.5;
}

.ct p{
	color: #fff;
	font-style: italic;
	font-size: 14pt;
}

.content{
	height: 120px;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px auto;
}

.paper, .cap, .buckpuck{
	display: flex;
	flex-direction: row;
	margin: 0 30px;
}

.paper img{
	width: 50px;
	height: 60px;
}

.text p{
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	margin-left: 20px;
	line-height: 1.5;
}

.cap img{
	width: 80px;
	height: 60px;
}

.buckpuck img{
	width: 55px;
	height: 65px;
}

.sign_in{
	width: 500px;
	height: 100px;
	margin: 50px auto;
	text-align: center;
}

.sign_in p{
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.sign_in a{
	text-decoration:none;
	color: #fff;
	font-size: 14pt;
	padding: 10px 50px;
	border: 1px solid #df4444;
	border-radius: 5px;
	background-color: #df4444;
}

.sign_in a:hover{
	background-color: #df4420;
}
