#parent{
	border: 0px solid black;
	display: block;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 200px;
	height: 50px;
}

.switch [type="checkbox"]{
	display: none;
}

.switch span{
	display: block;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

.switch :checked~span{
	color: #fff;
	background-color: #274e6b;
}