/*table tr td{
	border: 1px solid black;
}
*/
a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 16pt;
}

a:hover{
	color: #88ff47;
}
 h1{
 	color: #fff;
 	font-size: 24pt;
 	font-weight: 500;
 }

 button{
 	border-radius: 15px;
 	background-color: #58a700;
 	border: 1px solid #58a700;
 	box-shadow: 5px 5px 10px 2px rgba(17, 56, 27, 0.55);
 	text-align: center;
 	width: 100%;
 	height: 50px;
 	color: #fff;
 	font-size: 20pt;
 }