.progress{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 40px;
    border: 1px solid #000851;
}

.progress_uploaded{
    height: 100%;
    width: 64%;
    background: linear-gradient(90deg, #000851 0%, #1CB5E0 100%);;
}

span{
    color: #fff;
    font-size: 16pt;
    position: absolute;
    top: 10px;
    left: 60px;
}