p{
	font-size: 16pt;
}

#insta_header{
	width: 14%;
	margin: auto;
}
#insta_header img{
	width: 200px;
	height: 60px;
}

.page{
	width: 30%;
	height: 680px;
	margin: auto;
}

.stories, .post_header{
	height: 100px;
	margin-top: 5px;
}

.stories img, .post_header img{
	float: left;
	margin: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100px;
    background: linear-gradient(90deg, rgba(74,22,22,1) 0%, rgba(213,35,35,1) 46%, rgba(255,170,51,1) 100%);
    padding: 3px;
}

.post_header p{
	padding-top: 30px;
	font-weight: 600;
}

.insta_post img{
	height: 400px;
	width: 100%;
}

.insta_like{
	height: 20px;
	margin-top: 10px;
	background: 
}

.insta_like p{
	color: #666666;
	float: left;
	margin-right: 10px;
}


span img{
	width: 20px;
	height: 20px;

}

.switch [type="checkbox"]{
	display: none;
}

.switch span{
	position: absolute;
}

.switch span:hover{
	background-image: url(../img/heart2.png);
	background-size: 100%;
	transition: 0.3s linear;
}

.switch :checked~span{
	background-image: url(../img/heart3.png);
	background-size: 100%;
}

/*.switch ~span:hover{
	background-image: url(../img/heart4.png);
	background-size: 100%;
	transition: 0.3s linear;
}*/

