/*div{
	border: 0px solid black;
}*/

#header_menu{
	width: 70%;
	margin-top: 20px;
}

#menu_items ul{
    display: none;
    background-color: #d1ced5;
    position: absolute;
}
#menu_items li:hover ul { 
	display: block; 
}
#menu_items, #menu_items ul{
  	margin: 0;
  	padding: 0;
  	list-style-type: none;
  	z-index: 10;
}
#menu_items {
   	height: 30px;
   	padding-left: 25px;
}
#menu_items li {
   	float: left;
   	position: relative;
   	height: 100%;
}
#menu_items li a {
   	display: block;
   	padding: 6px;
   	width: 220px;
   	color: #000;
   	text-decoration: none;
   	text-align: center;

}
#menu_items ul li { 
	float: none; 
}
#menu_items li:hover { 
	background-color: #d1ced5; 
}
#menu_items ul li:hover { 
	background-color: #a49cab; 
}

#menu_items .menu_img:hover{
	background-color: #fff;
	cursor: pointer;
}

#reg_form_container{
	width: 400px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid #d1ced5;
	border-radius: 15px;
	box-shadow: 8px 7px 18px 11px rgba(164, 156, 171, 0.16);
}

.reg_form{
	padding: 0 15px;
	margin-top: 40px;
}

.reg_form h1{
	font-size: 18pt;
	font-weight: 200;
	text-align: center;
}

.form_input{
	display: inline-block;
	width: 90%;
	padding: 10px 20px;
	font-size: 12pt;
	margin: 10px 0 45px 0;
	border-width: 0;
	outline: none;
	border-bottom: 2px solid #a49cab;
}

#country{
	width: 100%;
}

.form_input_submit{
	width: 100%;
	background-color: #d1ced5;
	cursor: pointer;
}

.form_input_submit:hover{
	background-color: #a49cab; 
}
