p{
	font-size: 20px;
}

table tr td{
	/*border: 1px solid black;*/
	text-align: center;
}

p{
	text-align: center;
}

table{
	margin: auto; 
	width: 70%;
	text-align: left;
}

ul{
	list-style: none;
}
