.menu{
	width: 100vw;
	height: 100px;
	background-color: #2c2c2c;
	margin-bottom: 40px;
	display: flex;
	
}

.menu_logo, .menu_hello{
	width: 20%;
	height: 100%;
}

.menu_items{
	width: 60%;
	height: 100%;
}

.menu_logo, .menu_hello, .menu_items, .menu_items ul{
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu_logo img{
	width: 130px;
	height: 70px;
}

.menu_items ul li a{
	text-decoration: none;
	color: #fff;
	margin-right: 40px;
	text-transform: uppercase;
}

.menu_items ul li a:hover{
	color: #ccc;
}

.menu_hello a{
	border-bottom: 1px solid #ffe8c3;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}


.add_text{
	padding-top: 30px;
	font-size: 20px;
	font-family: Helvetica;
}

.mainBold{
	font-weight: 800;
	font-size: 24px;
}

hr{
	margin-bottom: 30px;
}

.main_img{
	width: 400px;
	height: 230px;
}

.main_img img{
	width: 390px;
	height: 220px;
	border-radius: 5px;
}

.add_img{
	display: flex;
	align-items: center;
	width: 400px;
	height: 80px;
}

.add_img img{
	width: 90px;
	height: 65px;
	border-radius: 5px;
	margin-right: 10px;
}

.add_img button{
	width: 90px;
	height: 65px;
	border-radius: 5px;
	margin: 0;
}

.add_img button img{
	width: 40px;
	height: 40px;
}

.rooms{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
}

.rooms span{
	position: absolute;
	margin: 10px 10px 0 -25px;
	color: #333333;
}

.trash i{
	color: #c91313;
}

.plus i{
	color: #59857a;
}

.add_or_cansel{
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#addProject{
	color: #59857a;
	border: 1px solid #59857a;
	background-color: #fff;
	padding: 14px 40px;
	margin-right: 10px;
}

#addProject:hover{
	background-color: #59857a;
	color: #fff;
}

#cancelAdd{
	color: #c91313;
	border: 1px solid #c91313;
	background-color: #fff;
	padding: 14px 40px;
}

#cancelAdd:hover{
	background-color: #c91313;
	color: #fff;
}

.footer_menu{
	width: 100%;
	height: 580px;
	background-color: #001e38;
	margin-top: 40px;
}

.footer_head, .footer_content{
	width: 75%;
	height: 240px;
	margin: auto;
	display: flex;
}

.footer_head_left, .footer_head_right{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer_head_right{
	width: 40%;
}

.footer_head_right a{
	color: #fff;
	font-size: 20px;
	text-align: right;
}

.footer_head_right p{
	text-align: right;
}

.footer_head_left p, .footer_head_right p{
	color: #fff;
	font-size: 26px;
}

.footer_head_left span{
	color: #f9cf5a;
}

.footer_content{
	height: 300px;
}

.one-three, .four{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.one-three ul li{
	color: #fff;
	line-height: 2.8;
	font-size: 18px;
}

.one-three ul li:first-child{
	font-weight: 600;
	font-size: 20px;
}

.four{

}

.four p{
	color: #fff;
}

.four input{
	border: 1px solid #cecece;
	background-color: #001e38;
	color: #fff;
	height: 40px;
	width: 100%;
	border-radius: 15px;
	padding-left: 20px;
}

.sign{
	display: flex;
}

.four p:first-child{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}

.four p{
	margin-top: 20px;
}

.four button{
	position: absolute;
	margin: 4px 10px 0 -110px;
	border-radius: 15px;
	border: none;
	height: 32px;
	background-color: #ffe8c3;
}