body{
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center center;
}

.container{
	width: 1400px;
	height: 460px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.inner_grid{
	display: grid;
}

h1, p{
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,.7);
}

h1{
	font-size: 24px;
	font-weight: 600;
	margin: 20px 0 0 20px;
	line-height: 1.6;
}

p{
	font-size: 18px;
	margin-left: 20px;
}

.one1{
	background-image: linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%),url(https://content.onliner.by/widget/tiles/1x1/a95ff0cb0444348477c87cc552445007.jpeg);
}

.one2{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x1/ff653a0637780b8c1d724ce2aafd601e.jpeg);
}

.two{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%),  url(https://content.onliner.by/widget/tiles/1x2/c8a61d1b6bb104dda708ec17e1b1bd71.jpeg);
}

.three1{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x1/03b4f4357133a19dcd57ce31ad59119a.jpeg);
}
.three2{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x1/70d2710fef97deefd7bc66169de8dee4.jpeg);
}

.four{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x2/eca213b44e195cd5541aff8b9cd885cb.jpeg);
}
.five{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x2/75f09c092a5dd3745469f185241e4b1e.jpeg);
}
.six{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x2/e437a300f6015d1f6412486aaaaf17df.jpeg);
}
.seven{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x2/7aecd773b46deb7277084883d5e7464e.jpeg);
}
.eight{
	background-image:linear-gradient(90deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 100%), url(https://content.onliner.by/widget/tiles/1x2/9a5acde11e34fe345208296e882d6472.jpeg);
}
