div{
	box-sizing: border-box;
}

.parent{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;
}

.container{
	height: 500px;
	width: 1280px;
	display: flex;
	flex-flow: column wrap;
}

.big{
	flex:100%;
	width: 25%;
}

.half{
	flex:50%;
}

.photo_caption{
	width: 100%;
	height: 110px;
	padding-top: 40px;
}

.photo_caption h1, p{
	color: #fff;
	text-align: center;
	line-height: 1.5;
}

.photo_caption h1{
	font-weight: 600;
	font-size: 16pt;
}

.photo_caption p{
	font-size: 12pt;
}

.photo{
	width: 100%;
	height: 390px;
	text-align: center;
}

.photo_half{
	width: 100%;
	height: 140px;
	text-align: center;
}

.fridje img{
	width: 150px;
	height: 350px;
}

.oil img{
	width: 250px;
	height: 280px;
	padding-top: 80px;
}

.tires img{
	width: 240px;
	height: 110px;
}

.cleaner img{
	width: 140px;
	height: 130px;
}

.stoller img{
	width: 140px;
	height: 120px;
}

.speaker img{
	width: 200px;
	height: 140px;
}