@keyframes like{
	from{
		transform: scale(1.5);
	}
	to{
		transform: scale(1);
	}
}

.parent{
	width: 100px;
	height: 100px;
    display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

span img{
	width: 100px;
	height: 100px;
}

.switch [type="checkbox"]{
	display: none;
}

.switch span{
	position: absolute;
}

.switch span:hover{
	background-image: url(../img/heart2.png);
	background-size: 100%;
	transition: color 0.3s linear;
}

.switch :checked~span{
	background-image: url(../img/heart3.png);
	background-size: 100%;
	animation-name: like;
	animation-duration: 2s;
}