div{
	border: 1px solid black;
	border-radius: 10px;
}

#parent{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 120px;
}

#parent p{
	text-align: center;
	font-family:Helvetica,Arial,sans-serif;
	font-weight: 200;
	font-size: 18pt;
	padding: 5px 0;
}

#parent:before{
	content: 'вы клёвые)))';
	background-color: #ced8e4;
	display: block;
	position: absolute;
	padding: 15px 40px;
	top: -74px;
	margin-left: 250px;
	border-radius: 10px;
	opacity: 0;
}

#parent:hover:before{
	opacity: 1;
}

#parent:after{
	content: '';
	display:block;
	position: absolute;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-top: 6px solid #ced8e4;
	top: -8px;
	margin-left: 270px;
	opacity: 0;
}

#parent:hover:after{
	opacity: 1;
}